---
import BaseLayout from '../layouts/BaseLayout.astro'
import Widget from '../components/client/widget'
import '../styles/base.css'
---

<BaseLayout title="Home">
  <main>
    <h1 class="text-5xl text-yellow-800">Hello, World!</h1>
    <Widget/>
  </main>
</BaseLayout>
