---
console.log('This runs in your terminal, not the browser!');
import Widget from '../components/widget'
import '../styles/base.css'
---

<html>
  <body>
    <h1 class="text-5xl text-yellow-800">Hello, World!</h1>
    <Widget/>
  </body>
</html>
